* {
    margin: 0;
    padding: 0;
}
body {
    background: black;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.navigation {
    background-color: white;
    width: 400px;
    height: 70px;
    border-radius: 10px;
    margin: 0 auto;
    overflow: visible;
    ul {
        position: relative;
        display: flex;
        align-content: center;
        justify-content: space-around;
        height: 100%;
        li {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: translateY(0px);
            transition: transform ease .2s;
            width: 50px;
            z-index: 1;
            &.active {
                transform: translateY(-32px);
                transition: transform ease .2s;
            }
            .text {
                font-size: 12px;
                font-family: Arial, sans-serif;
                transform: translateY(30px);
            }
            
            &:nth-child(1).active ~ .indicator {
                transform: translateX(calc(80px * 0));
            }
            &:nth-child(2).active ~ .indicator {
                transform: translateX(calc(80px * 1));
            }
            &:nth-child(3).active ~ .indicator {
                transform: translateX(calc(80px * 2));
            }
            &:nth-child(4).active ~ .indicator {
                transform: translateX(calc(80px * 3));
            }
            &:nth-child(5).active ~ .indicator {
                transform: translateX(calc(80px * 4));
            }
        }
        .indicator {
            position: absolute;
            top: -50%;
            width: 50px;
            height: 50px;
            background: red;
            border-radius: 50%;
            border: 6px solid black;
            left: 9px;
            transform: translateX(0);
            transition: transform ease 0.3s;
        }
    }
    
}
.icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    cursor: pointer;
    &.icon-home {
        background-image: url('../icons/icon_home.svg');
    }
    &.icon-messages {
        background-image: url('../icons/icon_messages.svg');
    }
    &.icon-profile {
        background-image: url('../icons/icon_profile.svg');
    }
    &.icon-settings {
        background-image: url('../icons/icon_settings.svg');
    }
    &.icon-photos {
        background-image: url('../icons/icon_photos.svg');
    }
}