* {
  margin: 0;
  padding: 0; }

body {
  background: black;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center; }

.navigation {
  background-color: white;
  width: 400px;
  height: 70px;
  border-radius: 10px;
  margin: 0 auto;
  overflow: visible; }
  .navigation ul {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-around;
    height: 100%; }
    .navigation ul li {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(0px);
      transition: transform ease .2s;
      width: 50px;
      z-index: 1; }
      .navigation ul li.active {
        transform: translateY(-32px);
        transition: transform ease .2s; }
      .navigation ul li .text {
        font-size: 12px;
        font-family: Arial, sans-serif;
        transform: translateY(30px); }
      .navigation ul li:nth-child(1).active ~ .indicator {
        transform: translateX(calc(80px * 0)); }
      .navigation ul li:nth-child(2).active ~ .indicator {
        transform: translateX(calc(80px * 1)); }
      .navigation ul li:nth-child(3).active ~ .indicator {
        transform: translateX(calc(80px * 2)); }
      .navigation ul li:nth-child(4).active ~ .indicator {
        transform: translateX(calc(80px * 3)); }
      .navigation ul li:nth-child(5).active ~ .indicator {
        transform: translateX(calc(80px * 4)); }
    .navigation ul .indicator {
      position: absolute;
      top: -50%;
      width: 50px;
      height: 50px;
      background: red;
      border-radius: 50%;
      border: 6px solid black;
      left: 9px;
      transform: translateX(0);
      transition: transform ease 0.3s; }

.icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  cursor: pointer; }
  .icon.icon-home {
    background-image: url("../icons/icon_home.svg"); }
  .icon.icon-messages {
    background-image: url("../icons/icon_messages.svg"); }
  .icon.icon-profile {
    background-image: url("../icons/icon_profile.svg"); }
  .icon.icon-settings {
    background-image: url("../icons/icon_settings.svg"); }
  .icon.icon-photos {
    background-image: url("../icons/icon_photos.svg"); }
